<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<conversionRule conversionWord="clr"
		converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex"
		converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

	<property name="CONSOLE_LOG_PATTERN"
		value="%clr([%date{HH:mm:ss.SSS}]){faint} %clr(%2p) %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf8</charset>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- The FILE and ASYNC appenders are here as examples for a production 
		configuration -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>utf-8</charset>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE" />
	</appender>

	<logger name="ro.code4.textParserReview" level="INFO" />

	<logger name="javax.activation" level="WARN" />
	<logger name="javax.mail" level="WARN" />
	<logger name="javax.xml.bind" level="WARN" />
	<logger name="ch.qos.logback" level="WARN" />
	<logger name="com.sun.xml.internal.bind" level="WARN" />
	<logger name="com.zaxxer" level="WARN" />
	<logger name="io.undertow" level="ERROR" />
	<logger name="org.apache" level="ERROR" />
	<logger name="org.bson" level="WARN" />
	<logger name="org.crsh" level="WARN" />
	<logger name="org.jboss.logging" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.orm.deprecation" level="OFF" />
	<logger name="org.hibernate.tool.hbm2ddl" level="OFF" />
	<logger name="org.springframework" level="WARN" />
	<logger name="org.thymeleaf" level="WARN" />
	<logger name="com.microsoft.sqlserver.jdbc" level="WARN" />
	<logger name="org.xnio" level="ERROR" />
	<logger name="sun.rmi.transport" level="WARN" />

	<!-- added only to disable the log output from the org.apache.directory 
		package -->
	<logger name="JdbmTable" level="WARN" />
	<logger name="JdbmIndex" level="WARN" />
	<logger name="LOG_CHANGES" level="WARN" />
	<logger name="org.apache.directory" level="OFF" />

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<root level="${logback.loglevel}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNC" />
	</root>

</configuration>